<div class="limiter">
    <div class="container-login100" style="background-image: url('assets/images/bg-01.jpg');">
        <div #editLayout class="sidenav">
            <a class="closebtn" (click)="closeLayout()">&times;</a>
            <form [formGroup]="nodeUpdateFrom" (ngSubmit)="onAddNode(nodeUpdateFrom)">
                <div style="margin-left: 10px;">
                    <label>Name:</label>
                    <br />
                    <input type="text" class="inputbox" formControlName="name" placeholder="Enter the node name" />
                    <br>
                    <label>Role:</label>
                    <br />
                    <input type="text" class="inputbox" formControlName="role" placeholder="Enter the node role" />
                    <br>
                    <label>Select any Color:</label>
                    <br />
                    <input type="color" formControlName="color"
                        [ngStyle]="{'color' : selectedNode.color_code, 'background-color' : selectedNode.color_code}" />
                    <br>
                    <button *ngIf="selectedNode.mode == 'add'" class="btn" style="margin-top: 20px;">Add New
                        Node</button>
                    <button *ngIf="selectedNode.mode == 'edit'" class="btn" style="margin-top: 20px;">Edit Node</button>
                </div>
            </form>
        </div>
        <div class="wrap-login100" style="width: 96vw;
    height: 90vh;overflow: scroll;">

            <canvas id="family-tree-editor" width="1400" height="1400"></canvas>
        </div>
        <div #treeOptions style="position: absolute;z-index: 1;opacity:0">
            <button class="btn" (click)="onEdit($event)">
                <i class="fa fa-edit">Edit</i>
            </button>
            <br />
            <button class="btn" (click)="onExpand($event)">
                <i *ngIf="focusedNode.isExpanded" class="fa fa-chevron-down"></i>
                <i *ngIf="!focusedNode.isExpanded" class="fa fa-chevron-up"></i>
            </button>
            <button class="btn" (click)="addChild($event)"><i class="fa fa-plus-square"></i></button>
        </div>
    </div>
</div>